html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

a {
  text-align: justify;
  color: grey;
  text-decoration: none;
  font-size: 20px;
}

p {
  text-align: justify;
  color: grey;
  text-decoration: none;
  font-size: 20px;
}

.columns {
  display: grid;
  flex-wrap: wrap;
  /* padding: 20px; */

  grid-template-columns: 30% 40% 30%;
  /* grid-gap: 20px; */
}

.instagram {
  position: relative;
  animation: move-words 20s linear infinite;
  margin: 0;
  margin-top: 50%;
}

@keyframes move-words {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}