html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

p {
  text-align: justify;
  color: blue;
}

.columns {
  display: grid;
  flex-wrap: wrap;
  padding: 20px;

  grid-template-columns: 30% 40% 30%;
  grid-gap: 20px;
}